{{ if .Site.Data.homepage.excellence.enable }}
<section id="excellence" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.excellence.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.excellence.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="excellence">
                            <div class="education__title">{{ .university }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
